# ==============================================================
# MAN KI AAVAJ FRONTEND ENVIRONMENT EXAMPLE
# ==============================================================

# # Option 1: Local Development Server
# VITE_API_BASE_URL=http://localhost:8089
# VITE_SOCKET_URL=http://localhost:9092

#Option 2: Production Server
VITE_API_BASE_URL=https://api.awaazmanki.com
VITE_SOCKET_URL=https://socketapi.awaazmanki.com
